.main__body {
  width: 100%;
  background-color: #F6F8FA;
  border-radius: 20px;
  height: 70vh;
  margin-top: 10%;
  padding: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.main__body:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0px 0px 100px 100px #fff;
          box-shadow: 0px 0px 100px 100px #fff;
}

.main__title {
  font-size: 20px;
}

.main__tasks {
  height: 100%;
  overflow: auto;
  padding-top: 3%;
  padding-bottom: 15%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main__tasks::-webkit-scrollbar {
  display: none;
}

.main__list {
  list-style: none;
  padding: 0 30px;
  max-width: 90%;
}

.main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 15px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.main__item .completed {
  text-decoration: line-through;
}

.main__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.main__checkbox:hover {
  background-color: #a3fae6;
}

.main__checkbox:checked {
  background-color: #65E0C4;
}

.main__checkbox:before {
  content: "\f00c";
  color: red;
  z-index: 5;
  font-family: 'Font Awesome 5 Free';
}

.main__input .d-flex {
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main__input .d-flex.long input {
  padding: 0 55px 0 20px;
  width: 350px;
  opacity: 1;
  visibility: visible;
}

.main__input .d-flex.long button {
  width: 60px;
  height: 60px;
}

.main__input button {
  border-radius: 50%;
  color: #fff;
  width: 70px;
  height: 70px;
  background-color: #65E0C4;
  font-size: 20px;
  outline: none;
  border: none;
  z-index: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

.main__input input {
  -webkit-transition: .3s;
  transition: .3s;
  width: 0;
  background-color: #fff;
  border-radius: 50px;
  margin-right: -60px;
  border: 1px solid #65E0C4;
  outline: none;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 769px) {
  .main__body {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    margin: 0;
  }
}

@media (max-width: 376px) {
  .main__list {
    padding: 0 !important;
  }
  .main__list label {
    max-width: 80%;
  }
}
/*# sourceMappingURL=main.css.map */